<mat-list>
  <ng-container
    *ngFor="let item of menus">
  <a mat-list-item
     [activated]="routeLink.isActive"
     #routeLink="routerLinkActive"
     routerLinkActive="active-link"
     [routerLink]="[organizationId, clientId, item.url]">
    <mat-icon>{{item.icon}}</mat-icon>
    {{item.name}}
  </a>
  <!-- add child menu from item -->
  <ng-container
    *ngIf="item.children && item.children.length > 0">
    <mat-list>
      <ng-container
        *ngFor="let child of item.children">
        <a mat-list-item
           style="padding-left: 3rem"
           [activated]="routeLink.isActive"
           #routeLink="routerLinkActive"
           routerLinkActive="active-link"
           [routerLink]="[organizationId, clientId, item.url, child.url]">
          {{child.name}}
        </a>
      </ng-container>
    </mat-list>
  </ng-container>
  </ng-container>
</mat-list>
