app-header{
  position: sticky;
  top: 0;
  z-index: 1000;
}
.app-header{
  --mat-toolbar-container-background-color: hsla(214, 62%, 21%, 1);
  --mat-toolbar-container-text-color: #fff;
  --mat-select-enabled-trigger-text-color: #fff;
  --mat-select-enabled-arrow-color: #fff;
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--mat-toolbar-container-background-color, hsla(214, 62%, 21%, 1));
  }
  mat-form-field{
    margin-top: 1.25rem;
  }
}
